.rosie {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1px black solid;
}

.trivia {
    width: 25%;
    height: 25%;
}

table {
    border: 1px solid black;
}

th {
    border-bottom: 2px solid black;
}
td {
    border: 1px solid black;
}